/* Custom CSS */
body {
  font-family: 'Fira Sans', sans-serif;
}

.navbar-custom {
  background-color: #E41E34;
}

.footer-custom {
  background-color: #E41E34;
}

.navbar-custom .btn-light {
  color: white;
  font-weight: bold;
  background-color: black;
  border-color: black;
}

.language-selector select {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.language-selector select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.language-selector select:hover {
  border-color: black;
}

.navbar-brand .logo {
  max-height: 60px;
}

.hero-section {
  background-image: url('../assets/img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}

.hero-section h1, .hero-section p {
  color: white;
  text-shadow: 
        -1.5px -1.5px 0 #000,  
         1.5px -1.5px 0 #000,
        -1.5px  1.5px 0 #000,
         1.5px  1.5px 0 #000,
        0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-section p {
  font-size: larger;
}

.hero-section .btn-custom {
  color: white;
  font-weight: bold;
  padding: 2%;
  background-color: #E41E34;
  border-color: black;
}


.benefits-section .card {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.benefits-section .btn-custom {
  color: white;
  font-weight: bold;
  padding: 2%;
  background-color: #E41E34;
  border-color: black;
}


.opt-in-section .btn-custom {
  color: white;
  font-weight: bold;
  background-color: #E41E34;
  padding: 2%;
  border-color: black;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .navbar-custom .btn-light {
      margin-bottom: 10px;
  }
  .navbar-brand {
      text-align: center;
  }
}
